data/
*.pth
*.ckpt
__pycache__/
.ipynb_checkpoints/
*.egg-info/
venv_path.txt
results/study_a/checkpoints/
results/study_a/logs/

# Reference materials (copyrighted third-party sources, not redistributed via the repo)
notebooks/*.pdf
notebooks/*.jpg
notebooks/*:Zone.Identifier